<!--
	Robin Kalia
	UC Berekeley
	robinkalia@berkeley.edu

	detail.html: The template for loading the details associated with the site/survey/<question_id> webpage
-->

<h1>{{question.id}}) {{ question.question }}:</h1>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'survey:vote' question.id %}" method="post">
{% csrf_token %}

{% for choice in question.choice_set.all %}
	<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
	<label for="choice{{ forloop.counter }}"><h2>{{ choice.choice_text }}</h2>
{% endfor %}

<input type="submit" value="Vote" />
</form>
